<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">

  {%- include head.html -%}

  <body>
    
    {% include navbar.html %}

    {% assign url_paths = page.url | split: '/' %}
    {% assign url = '/' %}

    <div class="status-bar">
      <ul class="breadcrumb">
        {% for path in url_paths %}
        {% if path == '' %}
        <li>
          <a href="/blog/" title="Top">電研ブログ</a>
        </li>
        {% elsif url_paths.last == path %}
        <li class="is-active">{{ page.title }}</li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="container">
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <h1>{{ page.title }}</h1>
          <div class="post-meta">
          
          {%- if page.date -%}
          <span class="post-date">
            CreatedAt: {{ page.date | date: "%Y-%m-%d" }}{%- if page.last_modified_at and page.last_modified_at != page.date -%}, UpdatedAt: {{ page.last_modified_at | date: "%Y-%m-%d" }}{%- endif -%}
          </span>
          {%- endif -%}

          {%- if page.author -%}
          {%- assign author = site.data.authors[page.author] -%}
          {%- if author.github -%}
          by
          <span class="author">
          {% if author.github contains 'http' %}
            <a href="{{ author.github }}">@{{ author.name }}</a>
          {% else %}
            @{{ author.github }}
          {% endif %}
          </span>
          {%- endif -%}
          {%- endif -%}
          <br>
          <span class="tags">
          {%- if page.tags -%}
            Tags: 
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tags.html#{{ tag | slugize }}">#{{ tag }}</a>
            {% endfor %}
          {%- endif -%}
          </span>
          </div>

          {{ content }}
        </div>
      </main>
      <aside class="rightbar">{%- include toc.html html=content sanitize=true -%}</aside>
    </div>

    {%- include footer.html -%}

  </body>

</html>
