<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">

  {%- include head.html -%}

  <body>
    
    {% include navbar.html %}

    {% assign url_paths = page.url | split: '/' %}
    {% assign url = '/' %}

    <div class="breadcrumb">
      <ul>
        {% for path in url_paths %}
        {% if path == '' %}
        <li>
          <a href="/blog/" title="Top">電研ブログ</a>
        </li>
        {% elsif url_paths.last == path %}
        <li class="is-active">{{ path | replace: '.html', '' | url_decode | capitalize }}</li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="container">
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </div>
      </main>
      <aside class="rightbar">{%- include toc.html html=content sanitize=true -%}</aside>
    </div>

    {%- include footer.html -%}

  </body>

</html>
